.AbilityOverlayRoot
{

	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	margin-left: 895px;
}

#ability_list
{
	flow-children: down;
	border: 0px solid black;
	background-color: transparent;
}

.AbilityPanel
{	

	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 53px;
	height: 53px;
	border: 2px solid black;
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.is_passive #AbilityButton
{
	border: 0px;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0	;
	wash-color: #1569be;
}


#AbilityStatusBorder
{
	margin: 0px;
	border: 4px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_active #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
}

.LevelPanel
{
	width: 40px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}


